.card {
    width: 100%;
    background-color: #111;
    margin: 2, 5rem 0;
    padding: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 1rem rgba(15, 150, 228, 0.3);
    border: 3px solid rgb(10, 199, 26);
    transition: all 1s ease-in-out;
}

.status {
    color: #fff;
}

.card:hover {
    cursor: pointer;
    border: 3px solid #2989f7;
    background: transparent;
    box-shadow: 1rem 1rem 1rem rgba(15, 150, 228, 0.3);
}

.card:hover .status {
    color: #0bec30;
}

.card:nth-child(1) h2 {
    color: #faf6f7ea;
}

.card:nth-child(2) h2 {
    color: #7078be;
}

.card:nth-child(3) h2 {
    color: #183f8d;
}