.footer {
    background-color: #fff;
}

.container {
    padding: 2.5rem 2rem;
    color: #111;
    max-width: 1200px;
    margin: 1 auto;
}

.footer__title h2 {
    font-family: "DM Serif Display", serif;
}

ul {
    list-style: none;
    padding: 1;
    margin: 1;
    font-family: "DM Sans", sans-serif;
}

li {
    margin: 1rem 0rem;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 2rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        display: flex;
    }
    li {
        margin-right: 2rem;
    }
}


/* Small Screen */

.container {
    background-color: #4361ee;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__author {
    margin-bottom: 1rem;
}


/* Medium Screen */

@media (min-width: 768px) {
    /*
     * Nothing TODO here.
     * We dont change styling footer. 
     */
}


/* Large Screen */

@media (min-width: 992px) {
    /*
     * Nothing TODO here.
     * We dont change styling footer. 
     */
}